# ignores all files starting with a dot
# the goal with this is to ignore all executables which i always create starting with a dot
.**

# but gitignore should not be ignored
!.gitignore

sem1/mgrundlagen/grundlagen.pdf
sem1/mgrundlagen/rezepten.pdf
2023-12-18-Note-11-15.xopp