<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogeinträge</title>
</head>
<body>
    <h1>Blogeinträge</h1>
    <div>
        <% if (posts.length === 0) { %>
            <p>Keine Blogeinträge gefunden.</p>
        <% } else { %>
            <% posts.forEach(post => { %>
                <div>
                    <h2><%= post.title %></h2>
                    <p><em>von <%= post.username %> am <%= post.date %></em></p>
                    <p><%= post.text %></p>
                </div>
                <hr>
            <% }) %>
        <% } %>
    </div>
    <button onclick="window.location.href='/blog/newPost'">Post erstellen</button>
</body>
</html>